<div *ngIf="budgetContributorTile" class="d-flex flex-column justify-content-center align-items-center p-4 tile">
  <fa-icon class="mt-3" size="8x" [icon]="['fas', 'user-astronaut']"></fa-icon>
  <h1 class="name mt-3">{{budgetContributorTile.name}}</h1>

  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-4 ">
        <b>Total income</b>
        <p class="total-income"> {{budgetContributorTile.totalIncome | currency: ' '}}</p>
      </div>
      <div class="col-4">
        <b>Contribution</b>
        <p class="contribution-amount"> {{budgetContributorTile.contributionAmount | currency: ' '}}</p>
      </div>
      <div class="col-4">
        <b>Free money</b>
        <p class="total-free" matTooltip="=Total income subtracted from contribution amount">
          {{(budgetContributorTile.totalFree) | currency: ' '}}</p>
      </div>
    </div>
  </div>
</div>
