<form (ngSubmit)="formArrayElementSubmission.emit($event)" *ngFor="let form of forms; index as i" [formGroup]="form"
      class="form">

  <mat-form-field appearance="fill" class="name-input">
    <mat-label>{{nameColumnLabel}}</mat-label>
    <input formControlName="{{Keys.Name}}" id="{{Keys.Name}}" matInput type="text">
  </mat-form-field>

  <mat-form-field appearance="fill" class="value-input">
    <mat-label>{{valueColumnLabel}}</mat-label>
    <input formControlName="{{Keys.Value}}" id="{{Keys.Value}}" matInput type="number">
  </mat-form-field>

  <button
    (click)="removeFormGroup(i)"
    [disabled]="forms.length < 2"
    class="remove-button"
    color="warn"
    mat-raised-button
    type="button"
  >
    {{removeButtonLabel}}
  </button>

  <button class="invisible" type="submit"></button>
</form>

<button
  (click)="addFormGroup()"
  class="add-button"
  color="primary"
  mat-button
  type="button"
>
  {{addButtonLabel}}
</button>
