<table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-100">

  <ng-container [matColumnDef]="ColumnKey.ID">
    <th mat-header-cell *matHeaderCellDef> ID</th>
    <td *matCellDef="let element" mat-cell> {{element[ColumnKey.ID]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="ColumnKey.Name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td *matCellDef="let element" mat-cell> {{element[ColumnKey.Name]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="ColumnKey.Value">
    <th mat-header-cell *matHeaderCellDef> Value</th>
    <td *matCellDef="let element" mat-cell> {{element[ColumnKey.Value] | currency: ' '}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="DisplayedColumnKeys"></tr>
  <tr mat-row *matRowDef="let row; columns: DisplayedColumnKeys;"></tr>
</table>
