.budget-form {
  display: flex;
  align-items: start;
}

.budget-form-item {
  margin: 0.5rem;
  padding: 0.5rem;
  background: linen;
  border-radius: 0.25rem;
  border: 1px solid lightgray;
}

.button {
  margin: 0.25rem
}
