.budget-form {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 0.25rem
}

.mat-mdc-card {
  margin-top: 1rem;
}

.mat-mdc-card-actions {
  display: flex;
  justify-content: space-between;
}
