<h2>Budget Form</h2>

<form class="budget-form" [formGroup]="form">

  <div class="budget-form-item">
    <label for="{{Keys.Name}}">Name: </label>
    <input id="{{Keys.Name}}" type="text" formControlName="{{Keys.Name}}">
  </div>

  <div class="budget-form-item">
    <mocha-outcomes-form [parentForm]="form"></mocha-outcomes-form>
  </div>

  <div class="budget-form-item">
    <mocha-contributors-form [parentForm]="form"></mocha-contributors-form>
  </div>

  <div class="budget-form-item">
    <button class="button" type="button" (click)="onCreate()">Create</button>
    <button class="button" type="button" routerLink="/budget">Cancel</button>
  </div>

</form>
