<div class="welcome-message">
  <div class="welcome-message__content">
    <div class="content__icon">
      <fa-icon [icon]="['fas', 'hand-holding-dollar']"></fa-icon>
    </div>
    <h1 class="content__header">Welcome!</h1>
    <p class="content__description">Mocha is a budget manager app for people living together.</p>
    <button [routerLink]="BudgetDirectRoute[BudgetDirectRouteKey.CreateBudget]" color="primary" mat-raised-button
            type="button">
      <fa-icon [icon]="['fas', 'plus']" size="xs"></fa-icon>
      Create a new budget
    </button>
  </div>
</div>
