<form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="formSubmission.emit()" class="budget-details-form">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Budget name</mat-label>
    <input id="{{ControlKey.Name}}" type="text" formControlName="{{ControlKey.Name}}" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Owner name</mat-label>
    <input id="{{ControlKey.Owner}}" type="text" formControlName="{{ControlKey.Owner}}" matInput>
  </mat-form-field>

  <button type="submit" class="invisible"> <!-- triggers ngSubmit --> </button>
</form>
