<form *ngFor="let form of forms; index as i" [formGroup]="form" (ngSubmit)="formArrayElementSubmission.emit(null)" class="form">

  <mat-form-field appearance="fill" class="name-input">
    <mat-label>Name</mat-label>
    <input formControlName="{{Keys.Name}}" id="{{Keys.Name}}" type="text" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="value-input">
    <mat-label>Value (PLN)</mat-label>
    <input formControlName="{{Keys.Value}}" id="{{Keys.Value}}" type="number" matInput>
  </mat-form-field>

  <button
    (click)="removeFormGroup(i)"
    class="remove-button"
    color="warn"
    type="button"
    mat-raised-button
  >
    Remove
  </button>

  <button type="submit" class="invisible"></button>
</form>

<button
  (click)="addFormGroup()"
  class="add-button"
  color="primary"
  type="button"
  mat-button
>
  + Add a new Deduction
</button>

