<h2>Outcomes</h2>

<h4>Add a new Outcome</h4>
<form class="form" [formGroup]="form" (submit)="onAdd()">

  <mat-form-field class="name-input" appearance="fill">
    <mat-label>Name</mat-label>
    <input id="{{Keys.Name}}" type="text" formControlName="{{Keys.Name}}" matInput>
  </mat-form-field>

  <mat-form-field class="value-input" appearance="fill">
    <mat-label>Value (PLN)</mat-label>
    <input id="{{Keys.Value}}" type="number" formControlName="{{Keys.Value}}" matInput>
  </mat-form-field>

  <button class="add-button" type="submit" color="primary" mat-raised-button>Add</button>
</form>

<mocha-outcomes-list [outcomes]="array" [actions]="OutcomesListButtonActions"></mocha-outcomes-list>


