<table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-100">

  <ng-container [matColumnDef]="Keys.Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element[Keys.Name]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="Keys.Value">
    <th mat-header-cell *matHeaderCellDef> Value </th>
    <td mat-cell *matCellDef="let element"> {{element[Keys.Value] | currency: ' '}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
</table>
