<nav class="p-1">
  <button routerLink="/home" mat-button>Mocha</button>

  <ng-container *ngFor="let appBarItem of AppBarItems">
    <ng-container *ngIf="appBarItem.routerLink; then element; else container"></ng-container>

    <ng-template #element>
      <button [routerLink]="appBarItem.routerLink" mat-button>{{appBarItem.label}}</button>
    </ng-template>

    <ng-template #container>
      <button [matMenuTriggerFor]="menu" mat-button>{{appBarItem.label}}</button>
      <mat-menu #menu="matMenu">
        <button
          *ngFor="let innerAppBarItem of appBarItem.items"
          [routerLink]="innerAppBarItem.routerLink"
          mat-menu-item
        >
          {{innerAppBarItem.label}}
        </button>
      </mat-menu>
    </ng-template>

  </ng-container>
</nav>
