<nav class="nav">
  <a [routerLink]="DirectRoute[DirectRouteKey.Home]" class="link">
    <fa-icon [icon]="['fas', 'mug-hot']"></fa-icon>
    &nbsp; Mocha v1.0
  </a>

  <ng-container *ngFor="let item of Items">
    <a *ngIf="item.routerLink; else routerLinkMenu" [routerLink]="item.routerLink" class="link">
      {{item.label}}
    </a>

    <ng-template #routerLinkMenu>
      <a [matMenuTriggerFor]="menu" class="link">
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon> &nbsp;
        {{item.label}}
      </a>
      <mat-menu #menu="matMenu">
        <a
          *ngFor="let innerAppBarItem of item.links"
          [routerLink]="innerAppBarItem.routerLink"
          class="menu-link"
          mat-menu-item
        >
          {{innerAppBarItem.label}}
        </a>
      </mat-menu>
    </ng-template>

  </ng-container>
</nav>
