@import 'src/assets/theme';

.nav {
  display: flex;
  align-items: center;
  height: 100%;
  background: $primary;
  color: $primary-color;
}

.link {
  height: 2.25rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  color: white;
  margin: 0.125rem;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  background-color: $primary-link--hover;
  border-radius: 0.125rem;
}

.menu-link {
  text-decoration: none;
}
