<h1 *ngIf="!hideHeader">{{ BudgetHeader.Inspect }} — {{budgetName}}</h1>

<div class="row">
  <div class="col-12">
    <mat-card appearance="outlined">
      <mat-card-title>Contributors</mat-card-title>
      <mat-card-subtitle>Total contributors' income — {{totalContributorsIncome | currency: ' '}}</mat-card-subtitle>
      <mat-card-content>
        <div class="row">
          <mocha-budget-contributor-tile
            *ngFor="let contributorTile of contributorTiles"
            [budgetContributorTile]="contributorTile"
            class="col-6"
          ></mocha-budget-contributor-tile>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-6 mt-4">
    <mat-card appearance="outlined">
      <mat-card-title>Outcomes</mat-card-title>
      <mat-card-subtitle>Total budget's outcome — {{totalBudgetOutcome | currency: ' '}}</mat-card-subtitle>
      <mat-card-content>
        <mocha-simple-table [dataSource]="outcomes"></mocha-simple-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>





