<h2>Contributors</h2>
<form [formGroup]="formGroup" (submit)="onAdd()">
  <h4>Add a new Contributor</h4>

  <label for="{{Keys.Name}}">Name: </label>
  <input id="{{Keys.Name}}" type="text" formControlName="{{Keys.Name}}">
  <br><br>

  <div class="mocha-incomes-form">
    <mocha-incomes-form [parentForm]="formGroup"></mocha-incomes-form>
  </div>

  <div class="mocha-allowances-form">
    <mocha-allowances-form [parentForm]="formGroup"></mocha-allowances-form>
  </div>

  <div class="mocha-deductions-form">
    <mocha-deductions-form [parentForm]="formGroup"></mocha-deductions-form>
  </div>

  <button type="submit">Add</button>
</form>

<h4>Added Contributors</h4>
<p *ngFor="let contributor of array">
  <button type="button" (click)="onRemove(contributor.id)">Remove</button>
  {{contributor | json}}
</p>
