<h1>{{ header }}</h1>

<form *ngIf="formGroup" [formGroup]="formGroup" class="budget-form">

  <mat-stepper [linear]="true" #stepper>

    <mat-step [stepControl]="details" label="Budget details">
      <mat-card class="mat-card">
        <mat-card-title>Budget details</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        <mat-card-content>
          <mocha-budget-details-form-group [formGroup]="details"></mocha-budget-details-form-group>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
          <button
            type="button"
            routerLink="/budget"
            color="warn"
            mat-button
          >
            Cancel
          </button>
          <button [disabled]="details.invalid" mat-button matStepperNext>Next</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>

    <mat-step [stepControl]="outcomes" label="Outcomes">
      <mat-card class="mat-card">
        <mat-card-title>Outcomes</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        <mat-card-content class="form-fields-container">
          <mocha-outcomes-form-array [formArray]="outcomes"></mocha-outcomes-form-array>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
          <button mat-button matStepperPrevious>Back</button>
          <button [disabled]="outcomes.invalid" mat-button matStepperNext>Next</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>

    <mat-step [stepControl]="contributors" label="Contributors">
      <mat-card class="mat-card">
        <mat-card-title>Contributors</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        <mat-card-content class="form-fields-container">
          <mocha-contributors-form-array [formArray]="contributors"></mocha-contributors-form-array>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
          <button mat-button matStepperPrevious>Back</button>
          <button [disabled]="contributors.invalid" mat-button matStepperNext>Next</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>

    <mat-step label="Summary">
      <mat-card class="mat-card">
        <mat-card-title>Summary</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        <mat-card-content class="form-fields-container">
          <mocha-budget-details [budget]="formGroup.getRawValue()"></mocha-budget-details>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
          <button (click)="stepper.reset()" color="warn" mat-button>Reset</button>
          <button color="primary" mat-button>Save</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
  </mat-stepper>

</form>
