<h1>{{ header }}</h1>

<form *ngIf="formGroup" [formGroup]="formGroup" class="budget-form">

  <mat-stepper #stepper [linear]="true">

    <mat-step [stepControl]="details" label="Budget details">
      <mat-card class="mat-card">
        <mat-card-title>Budget's details</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        <mat-card-content>
          <mocha-budget-details-form-group
            (formSubmission)="stepper.next()"
            [formGroup]="details"
          ></mocha-budget-details-form-group>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
          <button color="warn" mat-button routerLink="/" type="button">
            Cancel
          </button>
          <button [disabled]="details.invalid" mat-button matStepperNext>Next</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>

    <mat-step [stepControl]="outcomes" label="Outcomes">
      <mat-card class="mat-card">
        <mat-card-title>Outcomes</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        <mat-card-content class="form-fields-container">
          <mocha-simple-input-list
            (formArrayElementSubmission)="stepper.next()"
            [addButtonLabel]="'+ Add a new outcome'"
            [formArray]="outcomes"
          ></mocha-simple-input-list>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
          <button mat-button matStepperPrevious>Back</button>
          <button [disabled]="outcomes.invalid" mat-button matStepperNext>Next</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>

    <mat-step [stepControl]="contributors" label="Contributors">
      <mat-card class="mat-card">
        <mat-card-title>Contributors</mat-card-title>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        <mat-card-content class="form-fields-container">
          <mocha-contributors-form-array
            (formArrayElementSubmission)="stepper.next()"
            [formArray]="contributors"
          ></mocha-contributors-form-array>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
          <button mat-button matStepperPrevious>Back</button>
          <button [disabled]="contributors.invalid" mat-button matStepperNext>Next</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>

    <mat-step label="Summary">
      <ng-template matStepContent>
        <mat-card class="mat-card">
          <mat-card-title>Summary</mat-card-title>
          <mat-card-subtitle>&nbsp;</mat-card-subtitle>
          <mat-card-content class="form-fields-container">
            <mocha-budget-details [budget]="formGroup.getRawValue()" [hideHeader]="true"></mocha-budget-details>
          </mat-card-content>
          <mat-card-actions class="mat-card-actions">
            <button (click)="stepper.reset()" color="warn" mat-button>Reset</button>
            <button (click)="onSave()" [disabled]="loading" color="primary" mat-button>Save</button>
          </mat-card-actions>
        </mat-card>
      </ng-template>
    </mat-step>
  </mat-stepper>

</form>
