<div class="flex-container">
  <form (ngSubmit)="onSubmit(form, incomesPanel)" *ngFor="let form of forms; index as i" [formGroup]="form" class="form">

    <mat-form-field appearance="fill" class="name-input">
      <mat-label>Contributor name</mat-label>
      <input
        #contributorNameInput
        (focus)="onFocus(incomesPanel, contributorNameInput)"
        formControlName="{{Keys.Name}}"
        id="{{Keys.Name}}"
        matInput
        type="text"
      >
    </mat-form-field>

    <button
      (click)="removeFormGroup(i)"
      [disabled]="forms.length < 2"
      class="remove-button"
      color="warn"
      mat-raised-button
      type="button"
    >
      Remove
    </button>

    <button class="invisible" type="submit"></button>

    <mat-accordion class="contributors-accordion" multi>

      <mat-expansion-panel #incomesPanel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Incomes</mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Shouldn't be lazy-rendered as it causes ExpressionChangedAfterItWasCheckedError when validation changes its state -->
        <mocha-simple-input-list
          (formArrayElementSubmission)="formArrayElementSubmission.emit(null)"
          addButtonLabel="+ Add a new income"
          [formArray]="getFormArray(form, Keys.Incomes)"
        ></mocha-simple-input-list>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Allowances</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mocha-simple-input-list
            (formArrayElementSubmission)="formArrayElementSubmission.emit(null)"
            addButtonLabel="+ Add a new allowance"
            [formArray]="getFormArray(form, Keys.Allowances)"
          ></mocha-simple-input-list>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Deductions</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mocha-simple-input-list
            (formArrayElementSubmission)="formArrayElementSubmission.emit(null)"
            addButtonLabel="+ Add a new deduction"
            [formArray]="getFormArray(form, Keys.Deductions)"
          ></mocha-simple-input-list>
        </ng-template>
      </mat-expansion-panel>

    </mat-accordion>

  </form>

  <button
    (click)="addFormGroup()"
    class="add-button"
    color="primary"
    mat-button
    type="submit"
  >
    + Add a new contributor
  </button>

</div>
