<div class="d-flex justify-content-center">
  <mat-card>
    <mat-card-title class="p-3">Sign Up</mat-card-title>
    <mat-card-content>
      <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="d-flex flex-column sign-up-form">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Email</mat-label>
          <input [formControlName]="FormKey.Email" [id]="FormKey.Email" matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Password</mat-label>
          <input [formControlName]="FormKey.Password" [id]="FormKey.Password" matInput type="password">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Confirm password</mat-label>
          <input [formControlName]="FormKey.PasswordConfirmation" [id]="FormKey.PasswordConfirmation" matInput
                 type="password">
        </mat-form-field>

        <p>
          <mat-checkbox [formControlName]="FormKey.TosAccepted" [id]="FormKey.TosAccepted"></mat-checkbox>
          <small class="tos-text"><b>Agree to Terms and Conditions</b></small>
        </p>

        <button [disabled]="formGroup.invalid" class="sign-up-button" color="primary" type="submit" mat-raised-button>
          Sign Up
        </button>
      </form>
    </mat-card-content>

    <mat-card-actions class="text-center p-3">
      <span>
        Already have an account?&nbsp;<a [routerLink]="AuthDirectRoute[AuthDirectRouteKey.AuthSignIn]">Sign in!</a>
      </span>
    </mat-card-actions>
  </mat-card>
</div>
