<h1>{{ RouteDataHeader.All }}</h1>

<mat-card>
  <mat-card-content>
    <table [dataSource]="dataSource" class="mat-elevation-z0 w-100" mat-table>

      <ng-container [matColumnDef]="ColumnKey.Name">
        <th *matHeaderCellDef mat-header-cell> {{ColumnLabels.Name}} </th>
        <td *matCellDef="let element" mat-cell> {{element[ColumnKey.Name]}} </td>
      </ng-container>

      <ng-container [matColumnDef]="ColumnKey.TotalOutcomeValue">
        <th *matHeaderCellDef mat-header-cell> {{ColumnLabels.TotalOutcomeValue}} </th>
        <td *matCellDef="let element" mat-cell> {{element[ColumnKey.TotalOutcomeValue] | currency: ' '}} </td>
      </ng-container>

      <ng-container [matColumnDef]="ColumnKey.TotalIncomeValue">
        <th *matHeaderCellDef mat-header-cell> {{ColumnLabels.TotalIncomeValue}} </th>
        <td *matCellDef="let element" mat-cell> {{element[ColumnKey.TotalIncomeValue] | currency: ' '}} </td>
      </ng-container>

      <ng-container [matColumnDef]="ColumnKey.ContributorsCount">
        <th *matHeaderCellDef mat-header-cell> {{ColumnLabels.ContributorsCount}} </th>
        <td *matCellDef="let element" mat-cell> {{element[ColumnKey.ContributorsCount]}} </td>
      </ng-container>

      <ng-container [matColumnDef]="ColumnKey.Actions">
        <th *matHeaderCellDef mat-header-cell> {{ColumnLabels.Actions}}</th>
        <td *matCellDef="let element" mat-cell>
          <button
            [routerLink]="DirectPath.InspectBudget(element[ColumnKey.ID])"
            class="mr-2"
            color="primary"
            mat-stroked-button
          >
            {{ActionLabels.Inspect}}
          </button>
          <button
            [routerLink]="DirectPath.EditBudget(element[ColumnKey.ID])"
            class="mr-2"
            mat-stroked-button
          >
            {{ActionLabels.Edit}}
          </button>
          <button color="warn" mat-stroked-button>
            {{ActionLabels.Delete}}
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="DisplayedColumnKeys" mat-header-row></tr>
      <tr *matRowDef="let row; columns: DisplayedColumnKeys;" mat-row></tr>
    </table>

    <button [routerLink]="DirectPath.CreateBudget" class="create-budget-button mt-3" color="primary" mat-button>
      + {{ActionLabels.CreateBudget}}
    </button>

  </mat-card-content>
</mat-card>

