<h1>{{ header }}</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-100">

  <ng-container [matColumnDef]="Keys.Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element[Keys.Name]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="Keys.TotalOutcomeValue">
    <th mat-header-cell *matHeaderCellDef> Total Outcome Value </th>
    <td mat-cell *matCellDef="let element"> {{element[Keys.TotalOutcomeValue] | currency: ' '}} </td>
  </ng-container>

  <ng-container [matColumnDef]="Keys.TotalIncomeValue">
    <th mat-header-cell *matHeaderCellDef> Total Income Value </th>
    <td mat-cell *matCellDef="let element"> {{element[Keys.TotalIncomeValue] | currency: ' '}} </td>
  </ng-container>

  <ng-container [matColumnDef]="Keys.ContributorsCount">
    <th mat-header-cell *matHeaderCellDef> Contributors Count </th>
    <td mat-cell *matCellDef="let element"> {{element[Keys.ContributorsCount]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
</table>

