<h1>{{ header }}</h1>

<mat-card>
  <mat-card-content>
    <table [dataSource]="dataSource" class="mat-elevation-z0 w-100" mat-table>

      <ng-container [matColumnDef]="DisplayedColumnKeys.Name">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let element" mat-cell> {{element[DisplayedColumnKeys.Name]}} </td>
      </ng-container>

      <ng-container [matColumnDef]="DisplayedColumnKeys.TotalOutcomeValue">
        <th *matHeaderCellDef mat-header-cell> Total Outcome Value</th>
        <td *matCellDef="let element" mat-cell> {{element[DisplayedColumnKeys.TotalOutcomeValue] | currency: ' '}} </td>
      </ng-container>

      <ng-container [matColumnDef]="DisplayedColumnKeys.TotalIncomeValue">
        <th *matHeaderCellDef mat-header-cell> Total Income Value</th>
        <td *matCellDef="let element" mat-cell> {{element[DisplayedColumnKeys.TotalIncomeValue] | currency: ' '}} </td>
      </ng-container>

      <ng-container [matColumnDef]="DisplayedColumnKeys.ContributorsCount">
        <th *matHeaderCellDef mat-header-cell> Contributors Count</th>
        <td *matCellDef="let element" mat-cell> {{element[DisplayedColumnKeys.ContributorsCount]}} </td>
      </ng-container>

      <ng-container [matColumnDef]="DisplayedColumnKeys.Actions">
        <th *matHeaderCellDef mat-header-cell> Actions</th>
        <td *matCellDef="let element" mat-cell>
          <button
            [routerLink]="'/budgets/view/' + element[DisplayedColumnKeys.ID]"
            class="mr-2"
            color="primary"
            mat-stroked-button
          >
            View
          </button>
          <button
            [routerLink]="'/budgets/edit/' + element[DisplayedColumnKeys.ID]"
            class="mr-2"
            mat-stroked-button
          >
            Edit
          </button>
          <button color="warn" mat-stroked-button>Delete</button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="DisplayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: DisplayedColumns;" mat-row></tr>
    </table>

    <button class="create-budget-button mt-3" color="primary" mat-button routerLink="/budgets/create">+ Create a new
      budget
    </button>

  </mat-card-content>
</mat-card>

