<h1>{{ header }}</h1>

<mat-card>
  <mat-card-content>
    <table [dataSource]="dataSource" class="mat-elevation-z0 w-100" mat-table>

      <ng-container [matColumnDef]="Keys.Name">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let element" mat-cell> {{element[Keys.Name]}} </td>
      </ng-container>

      <ng-container [matColumnDef]="Keys.TotalOutcomeValue">
        <th *matHeaderCellDef mat-header-cell> Total Outcome Value</th>
        <td *matCellDef="let element" mat-cell> {{element[Keys.TotalOutcomeValue] | currency: ' '}} </td>
      </ng-container>

      <ng-container [matColumnDef]="Keys.TotalIncomeValue">
        <th *matHeaderCellDef mat-header-cell> Total Income Value</th>
        <td *matCellDef="let element" mat-cell> {{element[Keys.TotalIncomeValue] | currency: ' '}} </td>
      </ng-container>

      <ng-container [matColumnDef]="Keys.ContributorsCount">
        <th *matHeaderCellDef mat-header-cell> Contributors Count</th>
        <td *matCellDef="let element" mat-cell> {{element[Keys.ContributorsCount]}} </td>
      </ng-container>

      <ng-container [matColumnDef]="Keys.Actions">
        <th *matHeaderCellDef mat-header-cell> Actions</th>
        <td *matCellDef="let element" mat-cell>
          <button class="mr-2" mat-stroked-button routerLink="/budgets/view/1" color="primary">View</button>
          <button class="mr-2" mat-stroked-button routerLink="/budgets/edit/1">Edit</button>
          <button color="warn" mat-stroked-button>Delete</button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="DisplayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: DisplayedColumns;" mat-row></tr>
    </table>

    <button color="primary" mat-button routerLink="/budgets/create" class="create-budget-button mt-3">+ Create a new budget</button>

  </mat-card-content>
</mat-card>

